[Desktop Entry]
Name=Autodesk Fusion 360 - Uninstall
Comment=With this program you can delete Autodesk Fusion 360 on your system!
Exec=bash ./uninstall.sh"
Type=Application
Categories=Development;Graphics;Science
StartupNotify=true
Icon=/home/USERNAME/.config/fusion-360/bin/fusion360-uninstall.svg
Terminal=false
Path=/home/USERNAME/.config/fusion-360/bin
