[Desktop Entry]
Name=Autodesk Fusion 360
Comment=Autodesk Fusion 360 is a cloud-based 3D modeling, CAD, CAM, and PCB software platform for product design and manufacturing.
Exec=bash ./launcher.sh
Type=Application
Categories=Development;Graphics;Science
StartupNotify=true
Icon=/home/USERNAME/.config/fusion-360/bin/fusion360.svg
Terminal=false
Path=/home/USERNAME/.config/fusion-360/bin
