[Desktop Entry]
Name=Autodesk Fusion 360
Comment=This program launcher only works if you selected the standard installation when installing Autodesk Fusion 360!
Exec=xterm -hold -e "$HOME/.local/share/applications/wine/Programs/Autodesk/fusion360-launcher.sh"
Type=Application
Categories=Development;Graphics;Science
StartupNotify=true
Icon=$HOME/.local/share/applications/wine/Programs/Autodesk/fusion360.svg
Terminal=false
Path=
